/* Shared css*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
html{
    font-family: 'Quicksand', sans-serif;
}

* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home Page css */

body.home {
    background-color: rgb(209, 229, 209);
}

.home .recipe-card {
    width: 1200px;
    background-color: #FFFAFA;
    margin: 20px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    border: 2px solid darkgreen; 
}

.home img{
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.home .title{ 
    color: darkgreen;
}

.home ul {
    list-style: none;
}

.home .recipe-content{
    display: inline-block;
    width: 580px;
    vertical-align: top;
    text-align: center;
}

.home h1 {
    margin-top: 30px;
    margin-bottom: 60px;
}

.home h2{
    margin-bottom: 40px;
}

.home li {
    margin-top: 30px;
}

.home a {
    color: #fff;
    text-decoration: none;
    padding: 2px 10px;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}

#bloody-link{
    background: linear-gradient(to bottom, red, darkred);
    
  }
  
#roll-link {
    background: linear-gradient(to bottom, lightgreen, darkgreen);
  }

#shrimp-link{
    background: linear-gradient(to bottom, rgb(246, 198, 138), darkorange);
}

.home a:hover,
.home a:focus {
  color: #333;
  transition: background-color 0.3s ease;
}

/* Bloody Mary css */

body.bloody {
    background-color: rgb(209, 229, 209);
}

.bloody .recipe-card {
    background-color: #FFFAFA;
    margin: 20px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    border: 2px solid darkred; 
    width: 1300px;
    height: 700px;
}

.bloody img{
    height: 100%; /* Make the image height same as the parent div */
    object-fit: cover; /* Maintain aspect ratio and cover the parent div */
    object-position: top right;
    display: inline-block;
    vertical-align: top;
}

.bloody .title{ 
    color: darkred;
    margin-top: 15px;
}

.bloody ul, .bloody ol {
    list-style-position: inside;
    margin-left: 20px;
}

.bloody .recipe-content{
    display: inline-block;
    width: 690px;
    vertical-align: top;
    padding-left: 30px;
    color: darkgreen;
}


/* Fried Shrimp css */

body.shrimp {
    background-color: rgb(239, 226, 151);
}

.shrimp .recipe-card {
    background-color: #FFFAFA;
    margin: 20px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    border: 2px solid rgb(221, 145, 2); 
    height: 600px;
    width: 1430px;
}
.shrimp img{
    height: 100%; 
    width: 500px;
    object-fit: cover;
    object-position: center;
    display: inline-block;
    vertical-align: top;
}

.shrimp .title{ 
    color: rgb(221, 145, 2);
    margin-top: 15px;
}

.shrimp ul, .roll ol {
    list-style-position: inside;
    margin-left: 20px;
}

.shrimp .recipe-content{
    display: inline-block;
    width: 920px;
    vertical-align: top;
    padding-left: 30px;
    color:  rgb(79, 70, 19);
}

/* Avocado Roll css */

body.roll {
    background-color: rgb(209, 229, 209);
}

.roll .recipe-card {
    background-color: #FFFAFA;
    margin: 20px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    border: 2px solid rgb(221, 145, 2); 
    height: 804px;
    width: 1710px;
}
/* why does width 1704px not work? is there extra space being applied from the styles that I dont know about? */

.roll img{
    height: 100%; /* Make the image height same as the parent div */
    width: 500px;
    object-fit: cover; /* Maintain aspect ratio and cover the parent div */
    object-position: center;
    display: inline-block;
    vertical-align: top;
}

.roll .title{ 
    color: rgb(221, 145, 2);
    margin-top: 15px;
}

.roll ul, .roll ol {
    list-style-position: inside;
    margin-left: 20px;
}

.roll .recipe-content{
    display: inline-block;
    width: 1200px;
    vertical-align: top;
    padding-left: 30px;
    color: darkgreen;
}