/* Shared css*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
html{
    font-family: 'Quicksand', sans-serif;
}

body {
    margin-left: 5px;
}

.container{
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title{
    margin-left: 5px;
    font-weight: 700;
}

.content{
    margin-left: 5px;
    font-weight: 400;
}


/* Home Page css */
body.home {
    background-color: rgb(209, 229, 209);
}

.home .container{
    background-color:rgb(196, 221, 196);
    border-color: darkgreen;
}

.home .title, .home .content{
    color: darkgreen;
}

/* Bloody Mary css */
body.bloody{
    background-color: rgb(247, 218, 218);
}

.bloody .container{
    background-color: rgb(237, 181, 181);
    border-color: darkred;
}
.bloody .title, .bloody .content{
    color:darkred;
}

/* Fried Shrimp css */
body.shrimp{
    background-color: rgb(239, 226, 151);
}

.shrimp .container{
    background-color: rgb(241, 222, 118);
    border-color: rgb(79, 70, 19);
}
.shrimp .title, .shrimp .content{
    color:  rgb(79, 70, 19);
}

/* Avocado Roll css */
body.roll{
    background-color: rgb(209, 229, 209);
}

.roll .container{
    background-color:rgb(196, 221, 196);
    border-color:rgb(221, 145, 2);
}
.roll .title, .roll .content{
    color: rgb(221, 145, 2);
}